@font-face {
  font-family: darling;
  src: url(./Darling.ttf);
}

body {
  margin: 0;
  background-color: black;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main-left {
  width: max(16rem, 40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.background-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.transparent {
  background-color: black;
  opacity: 70%;
  height: 6rem;
  width: 100%;
  position: absolute;
  top: 24%;
}

.logo-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 4rem;
  font-family: darling, sans-serif;
  color: white;
  position: absolute;
  top: 24%;
}

.logo {
  width: 4rem;
  margin-top: 0.5rem;
}

.main-right {
  width: max(16rem, 60%);
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-p {
  margin-bottom: 0;
  line-height: 1.2;
}

.sign-p {
  margin-top: 0;
}

.italic-span {
  font-style: italic;
}

.right-top {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5%;
  padding-bottom: 0;
  padding-right: max(20%, 4rem);
  font-size: min(1.4rem, 4vw);
}

.right-middle {
  font-size: min(1.4rem, 4vw);
  padding: 5%;
  box-shadow: 0px 4px 10px rgb(49, 49, 49);
}

legend {
  margin-bottom: 2rem;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  border: 0;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

input {
  width: min(46vw, 20rem);
  height: 1.2rem;
  background-color: black;
  border: 1px solid grey;
  border-radius: 4px;
  color: grey;
}

input:not(:placeholder-shown):not(:focus):valid {
  border-color: rgb(103, 230, 103);
}
input:not(:placeholder-shown):not(:focus):invalid {
  border-color: rgb(235, 82, 82);
}

label {
  font-size: 0.8rem;
  color: grey;
}

.containers {
  position: relative;
}

label:first-child {
  position: absolute;
  top: -1rem;
}

.right-bottom {
  padding: 5%;
  font-size: 1.2rem;
}

button {
  font-size: 1rem;
  width: 15rem;
  height: 3rem;
  background-color: black;
  border: 2px solid rgb(103, 230, 103);
  border-radius: 6px;
  color: rgb(103, 230, 103);
  font-size: 1.2rem;
  font-weight: 700;
}
button:hover {
  background-color: rgb(103, 230, 103);
  border-color: black;
  color: black;
}
button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

a {
  font-weight: 900;
  text-decoration: none;
  color: rgb(103, 230, 103);
}
a:hover {
  color: white;
}