@font-face {
  font-family: darling;
  src: url(./Darling.ttf);
}

body {
  margin: 0;
  background-color: black;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.main-left {
  border: 1px solid white;
  width: max(22rem, 40%);
}

.background-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.transparent {

}

.logo-text {

}

.logo {

}

.main-right {
  border: 1px solid white;
}

.right-top {

}

.right-middle {

}

.right-bottom {

}